[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
maturin = "*"
tox-pyo3 = "*"
tox-travis = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
